@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Proxima-nova/bold/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-nova/bold/proxima_nova_bold.woff") format("woff"), url("../fonts/Proxima-nova/bold/proxima_nova_bold.ttf") format("truetype"), url("../fonts/Proxima-nova/bold/proxima_nova_bold.svg#Proxima Nova") format("svg");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Proxima-nova/semibold/proxima_nova-semibol.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-nova/semibold/proxima_nova-semibol.woff2") format("woff2"), url("../fonts/Proxima-nova/semibold/proxima_nova-semibol.woff") format("woff"), url("../fonts/Proxima-nova/semibold/proxima_nova-semibol.svg#Proxima Nova") format("svg");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Proxima-nova/light/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-nova/light/proxima_nova_light.woff") format("woff"), url("../fonts/Proxima-nova/light/proxima_nova_light.ttf") format("truetype"), url("../fonts/Proxima-nova/light/proxima_nova_light.svg#Proxima Nova") format("svg");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Proxima-nova/extrabold/ProximaNova-Extrabld_0.ttf") format("truetype");
}
