footer.footer-
	//- a(href="#top").to_top
	//- 	img(src="img/arrow-up.png", alt="")
	.wrapper
		.footer-__block
			.footer-__copy &copy; 2018, Basseein74
			a(href="http://xpage.ru" target="_blank").footer-__dev
					.footer-__dev_text Сделано в
					img(src="img/ico-dev.svg", alt="").footer-__dev_img
