header.head#top
	.content__logo
			a(href="/")
				img(src="img/logo.png", alt="")
				img(src="img/logo-blue.png", alt="")
				img(src="img/logo-blue-small.png", alt="")
	.menu
		.menu__text меню
		.burger 
			span
	.menu-__block
		.menu-__block_left
			ul
				li
					a(href="#") Бассейны бетонные
				li
					a(href="#") Бассейны композитные
				li
					a(href="#") Оборудование
				li
					a(href="#") Сервис
			a(href="#").menu-__block_btn Заказать звонок
			.menu-__block_text © 2018, Basseein74
		.menu-__block_right
			ul
				li
					a(href="#") Компания
				li
					a(href="#") Инновации
				li
					a(href="#") Наши работы
				li
					a(href="#") Контакты
			.menu-__block_contacts
				.menu-__block_adress г. Челябинск, пос. Шершни, ул. Покровская, 10
				a(href="tel: +7-351-220-77-87").menu-__block_tel +7 (351) 220-77-87
				a(href="mailto: info@bassein74.ru").menu-__block_mail info@bassein74.ru
		