html
	head
		meta(charset="utf-8")
		title Преимущества
		include inc/head.jade
		include inc/css.jade
	body.inner
		#page-wr
			//- .mobile-menu
			#content
				include inc/header.jade
				.advantage-
					.content
						.advantage-__container
							.advantage-__left
								.advantage-__left_block
									//- tab 1
									.advantage-__left_block_item(data-id="1")
										.advantage-__left_title 
											span Экономия
										.advantage-__left_text Наши клиенты экономят финансы, получая привилегии по программе поддержки клиентов. Скидки на средства по уходу за водой, расходные материалы и аксессуары. В случае апгрейда оборудования, клиентов ждет щедрый стартовый бонус. Кроме того, друзья наших клиентов могут рассчитывать на хорошие скидки и приветственные бонусы.
									//- tab 2
									.advantage-__left_block_item(data-id="2")
										.advantage-__left_title 
											span Доступность
										.advantage-__left_text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor accusantium, iure odit hic similique libero recusandae, perferendis enim excepturi eaque, tenetur adipisci.
									//- tab 3
									.advantage-__left_block_item(data-id="3")
										.advantage-__left_title 
											span Опыт
										.advantage-__left_text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, saepe laboriosam. Quam praesentium repellendus ut eaque vero quo corporis laboriosam consequuntur reprehenderit itaque sequi animi voluptatum, tempore enim iure voluptatibus consectetur eveniet tempora.
									//- tab 4
									.advantage-__left_block_item(data-id="4")
										.advantage-__left_title 
											span Технологии
										.advantage-__left_text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam voluptatum deleniti!
									//- tab 5
									.advantage-__left_block_item(data-id="5")
										.advantage-__left_title 
											span Отсрочка
										.advantage-__left_text  Lorem ipsum dolor sit amet.
									//- tab 6
									.advantage-__left_block_item(data-id="6")
										.advantage-__left_title 
											span Постоянство
										.advantage-__left_text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quo itaque aperiam ad eligendi adipisci ipsum eos laboriosam nam labore et dolorum optio quisquam magnam, nihil error nobis illo nesciunt delectus odio necessitatibus, iusto dolorem doloribus facilis. Sit voluptas, aspernatur nisi dolores, quaerat vel debitis, quis iste quibusdam quasi voluptatum quidem voluptatibus! Distinctio sed, magnam doloribus eum nisi, quibusdam ex provident, obcaecati recusandae optio quas rem.
							.advantage-__right
								.advantage-__right_title Программа поддержки клиентов
								.advantage-__right_item(data-id="1")
									.advantage-__right_item_title экономия
									div Постоянные скидки для клиентов
								.advantage-__right_item(data-id="2")
									.advantage-__right_item_title доступность
									div Наши специалисты всегда доступны и рады вам помочь
								.advantage-__right_item(data-id="3")
									.advantage-__right_item_title опыт
									div Наш большой опыт для решения любых задач
								.advantage-__right_item(data-id="4")
									.advantage-__right_item_title технологии
									div Инженерные решения доступные только нашим клиентам
								.advantage-__right_item(data-id="5")
									.advantage-__right_item_title отсрочка
									div Возможность отсрочить платежи за сервисное обслуживание
								.advantage-__right_item(data-id="6")
									.advantage-__right_item_title постоянство
									div Выгодные условия при заключении договора
					
			//- include inc/footer.jade
		include inc/scripts.jade