html
	head
		meta(charset="utf-8")
		title Композитные бассейны
		include inc/head.jade
		include inc/css.jade
	body.inner.black_burger.small_logo
		#page-wr
			#content
				include inc/header.jade
				.basseins-
					.basseins-__top
					.basseins-__banner
						.wrapper
							img(src="img/photos/basseins-banner.jpg", alt="")
					.wrapper
						.basseins-__title
							div
								h1 Технология<br>композитных бассейнов
								p Бассейны  Compass изготавливаются из наиболее совершенного материала из существующих сегодня керамо – композитных ламинат с улучшенными свойствами. В основе материала лежит стекло-композитный ламинат, усиленный винил-керамикой.
							div
								.title-block__crumbs
									.bread-crumbs
										a.bread-crumbs__link(href='#') Главная
										span.bread-crumbs__line
										span.bread-crumbs__this Композитные бассейны
					.wrapper
						.basseins-__anchor
							a(href="#") Riverina
							a(href="#") X-Trainer
							a(href="#") Briliant
							a(href="#") Java
							a(href="#") Aqua
					.basseins-__capabil
						.wrapper
							h2 Возможности бассейнов Compass Pools 2018
							.basseins-__capabil_block
								.basseins-__capabil_item
									.basseins-__capabil_item_title 01
									.basseins-__capabil_item_text Возможность встроить надводные роллетные покрытия
								.basseins-__capabil_item
									.basseins-__capabil_item_title 02
									.basseins-__capabil_item_text Возможность установки уникальной системы самоочистки дна бассейна Vantage
								.basseins-__capabil_item
									.basseins-__capabil_item_title 03
									.basseins-__capabil_item_text Мы выбераем цвет воды в бассейне, а не цвет покрытия
								.basseins-__capabil_item
									.basseins-__capabil_item_title 04
									.basseins-__capabil_item_text Бассейны имеют 5 патентов
								.basseins-__capabil_item
									.basseins-__capabil_item_title 05
									.basseins-__capabil_item_text Современный дизайн, строгие формы
								.basseins-__capabil_item
									.basseins-__capabil_item_title 06
									.basseins-__capabil_item_text Установка под ключ за 21 день
								.basseins-__capabil_item
									.basseins-__capabil_item_title 07
									.basseins-__capabil_item_text Юридическая гарантия на бассейны
					.wrapper
						.basseins-__sliders
							//- slider 1
							.basseins-__slider
								.basseins-__slide
									a(href="img/photos/basseins-slide-1.jpg" data-fancybox="basseins-__slide-1").fancybox
										img(src="img/photos/basseins-slide-1.jpg", alt="")
								.basseins-__slide
									a(href="img/photos/basseins-slide-2.jpg" data-fancybox="basseins-__slide-1").fancybox
										img(src="img/photos/basseins-slide-2.jpg", alt="")
							.basseins-__slider_title
								a(href="#")
									h2 Riverina
									p (переменная глубина дна)
								a(href="#")
									span Подробнее
							//- slider 2
							.basseins-__slider
								.basseins-__slide
									a(href="img/photos/basseins-slide-2.jpg" data-fancybox="basseins-__slide-2").fancybox
										img(src="img/photos/basseins-slide-2.jpg", alt="")
								.basseins-__slide
									a(href="img/photos/basseins-slide-1.jpg" data-fancybox="basseins-__slide-2").fancybox
										img(src="img/photos/basseins-slide-1.jpg", alt="")
							.basseins-__slider_title
								a(href="#")
									h2 X-Trainer
									p (переменная глубина дна)
								a(href="#")
									span Подробнее
							//- slider 3
							.basseins-__slider
								.basseins-__slide
									a(href="img/photos/basseins-slide-3.jpg" data-fancybox="basseins-__slide-3").fancybox
										img(src="img/photos/basseins-slide-3.jpg", alt="")
								.basseins-__slide
									a(href="img/photos/basseins-slide-1.jpg" data-fancybox="basseins-__slide-3").fancybox
										img(src="img/photos/basseins-slide-1.jpg", alt="")
							.basseins-__slider_title
								a(href="#")
									h2 Briliant
									p (постоянная глубина дна)
								a(href="#")
									span Подробнее
							//- slider 4
							.basseins-__slider
								.basseins-__slide
									a(href="img/photos/basseins-slide-4.jpg" data-fancybox="basseins-__slide-4").fancybox
										img(src="img/photos/basseins-slide-4.jpg", alt="")
								.basseins-__slide
									a(href="img/photos/basseins-slide-1.jpg" data-fancybox="basseins-__slide-4").fancybox
										img(src="img/photos/basseins-slide-1.jpg", alt="")
							.basseins-__slider_title
								a(href="#")
									h2 Java
									p (постоянная глубина дна)
								a(href="#")
									span Подробнее
							//- slider 5
							.basseins-__slider
								.basseins-__slide
									a(href="img/photos/basseins-slide-5.jpg" data-fancybox="basseins-__slide-5").fancybox
										img(src="img/photos/basseins-slide-5.jpg", alt="")
								.basseins-__slide
									a(href="img/photos/basseins-slide-1.jpg" data-fancybox="basseins-__slide-5").fancybox
										img(src="img/photos/basseins-slide-1.jpg", alt="")
							.basseins-__slider_title
								a(href="#")
									h2 Aqua
									p (постоянная глубина дна)
								a(href="#")
									span Подробнее

					.basseins-__bottom


			include inc/footer.jade
		include inc/scripts.jade