html
	head
		meta(charset="utf-8")
		title riverina
		include inc/head.jade
		include inc/css.jade
	body.inner
		#page-wr
			#content.long_menu
				include inc/header.jade
				.product-
					.catalog-__banner
						img(src="img/photos/catalog-banner.jpg", alt="")
						.catalog-__banner_text
							div
								h1 Riverina
								.title-block__crumbs
									.bread-crumbs
										a.bread-crumbs__link(href='#') Главная
										span.bread-crumbs__line
										span.bread-crumbs__this Riverina
					.wrapper
						.product-__slider
							.product-__slide
								a(href="img/photos/card-img.jpg" data-fancybox="product-__slide-1").fancybox
									img(src="img/photos/card-img.jpg", alt="")
							.product-__slide
								a(href="img/photos/prouct-img-2.jpg" data-fancybox="product-__slide-1").fancybox
									img(src="img/photos/prouct-img-2.jpg", alt="")
							.product-__slide
								a(href="img/photos/prouct-img-3.jpg" data-fancybox="product-__slide-1").fancybox
									img(src="img/photos/prouct-img-3.jpg", alt="")
							.product-__slide
								a(href="img/photos/prouct-img-4.jpg" data-fancybox="product-__slide-1").fancybox
									img(src="img/photos/prouct-img-4.jpg", alt="")
							.product-__slide
								a(href="img/photos/prouct-img-5.jpg" data-fancybox="product-__slide-1").fancybox
									img(src="img/photos/prouct-img-5.jpg", alt="")
							.product-__slide
								a(href="img/photos/prouct-img-6.jpg" data-fancybox="product-__slide-1").fancybox
									img(src="img/photos/prouct-img-6.jpg", alt="")
							.product-__slide
								a(href="img/photos/prouct-img-7.jpg" data-fancybox="product-__slide-1").fancybox
									img(src="img/photos/prouct-img-7.jpg", alt="")
						.product-__slider_nav
							.product-__slide_nav
								img(src="img/photos/card-img.jpg", alt="")
							.product-__slide_nav
								img(src="img/photos/prouct-img-2.jpg", alt="")
							.product-__slide_nav
								img(src="img/photos/prouct-img-3.jpg", alt="")
							.product-__slide_nav
								img(src="img/photos/prouct-img-4.jpg", alt="")
							.product-__slide_nav
								img(src="img/photos/prouct-img-5.jpg", alt="")
							.product-__slide_nav
								img(src="img/photos/prouct-img-6.jpg", alt="")
							.product-__slide_nav
								img(src="img/photos/prouct-img-7.jpg", alt="")
						.product-__size_block
							h3 Размеры и форма
							img(src="img/photos/product-info.jpg", alt="")
						.product-__table_shadow
							.product-__table_overflow
								table.product-__table
									tfoot
									thead
										tr
											th 
												div Модель
											th 
												div Длина 
												div L, м
											th 
												div Ширина 
												div W, м
											th 
												div Глубина 
												div мин. H1 м. / макс. H2 м 
											th 
												div Длина по дну 
												div (плав.зона) S, м
											th 
												div Объем бассейна 
												div м3
											th 
												div Вес чаши 
												div бассейна, кг
									tbody
										//- row 1
										tr
											td(data-title="Модель") 
												span Riverina 67
											td(data-title="Длина")
												span 6,75
											td(data-title="Ширина")
												span 3,51
											td(data-title="Глубина")
												span 3,51 / 1,09
											td(data-title="Длина по дну")
												span 1,57
											td(data-title="Объем бассейна")
												span 6,00
											td(data-title="Вес чаши")
												span 800.00
										//- row 1
										tr
											td(data-title="Модель") 
												span Riverina 67
											td(data-title="Длина")
												span 6,75
											td(data-title="Ширина")
												span 3,51
											td(data-title="Глубина")
												span 3,51 / 1,09
											td(data-title="Длина по дну")
												span 1,57
											td(data-title="Объем бассейна")
												span 6,00
											td(data-title="Вес чаши")
												span 800.00
										//- row 1
										tr
											td(data-title="Модель") 
												span Riverina 67
											td(data-title="Длина")
												span 6,75
											td(data-title="Ширина")
												span 3,51
											td(data-title="Глубина")
												span 3,51 / 1,09
											td(data-title="Длина по дну")
												span 1,57
											td(data-title="Объем бассейна")
												span 6,00
											td(data-title="Вес чаши")
												span 800.00
										//- row 1
										tr
											td(data-title="Модель") 
												span Riverina 67
											td(data-title="Длина")
												span 6,75
											td(data-title="Ширина")
												span 3,51
											td(data-title="Глубина")
												span 3,51 / 1,09
											td(data-title="Длина по дну")
												span 1,57
											td(data-title="Объем бассейна")
												span 6,00
											td(data-title="Вес чаши")
												span 800.00
						.product-__table_info
							.product-__table_info_left
								p
									b Примечания:  
								ol
									li Наклон стенок бассейнов 6 град
									li Любая модель может быть изготовлена с интегрированной системой самоочистки Vantage
									li Любая модель может быть изготовлена в варианте поверхностной установки MaxiRib
									li Бассейны с интегрированной нишей роллетного покрытия могут быть оснащены покрытием с надводной (Comfort, Oveflow) или подводной площадкой (BeachLine). Бассейн Java 125 может быть оснащен только надводной площадкой (Comfort, Oveflow)
									li Рис 1. Эскиз бассейна на примере XL-Trainer с обозначением размеров
							.product-__table_info_right
								img(src="../img/photos/product-info-2.png", alt="")
					.product-__info_block
						.wrapper
							.product-__info_block_p1
								div
									h3 Дополнительное оборудование
									h2 Система автоматической очистки
									p Запатентованная система Vantage очищает бассейн, имитируя поток воды в горной реке. Особые распылители цилиндрической формы поднимаются над дном на несколько сантиметров, создают мощные, но бесшумные струи воды. Эти струи направляют мусор ко всасывающему устройству Vantage MDX. Когда система очистки не активна, распылители опущены и почти незаметны.
								.product-__info_block_p1_img
									img(src="img/photos/riverina.gif", alt="")
							.product-__info_block_p2
								h3 Что она делает?
								.product-__info_block_p2_items
									.product-__info_block_p2_item
										div 
											img(src="img/product-ico-1.png", alt="")
										p Перемешивает чистящие средства и предотвращает рост водорослей и развитие бактерий.
									.product-__info_block_p2_item
										div 
											img(src="img/product-ico-2.png", alt="")
										p Снижает расход воды и чистящих средств, поскольку постоянно перемешивает их и не позволяет испаряться
									.product-__info_block_p2_item
										div 
											img(src="img/product-ico-3.png", alt="")
										p Равномерно распределяет тепло по всему объёму воды.
									.product-__info_block_p2_item
										div 
											img(src="img/product-ico-4.png", alt="")
										p Очищает даже самые труднодоступные места: углы, ступени, лежаки и сиденья.
					.product-__banner_block
						.wrapper
							h3 Технологии
							h2 Антискользящая поверхность
							p.p1 SlipStop — это гладкая, но совершенно не скользкая поверхность, покрывающая любую часть чаши, на которую можно встать, сесть или опереться.
							h3 Чем она лучше других покрытий?
							p SlipStop состоит из маленьких гранул, похожих на капельки застывшего геля — округлые, гладкие и всегда чистые, поскольку в них не можетзабиться грязь. Кроме того, SlipStop абсолютно незаметна: она не влияет на цвет или внешний вид бассейна.
					.product-__sample_block
						.wrapper				
							h2 Поверхность Bi-Luminite
							.product-__sample_block_text
								div 
									h3 Естественные цвета
									p Вода в бассейнах Compass естественного цвета, будто дно усыпано камешками и ракушками: солнечный свет пронизывает толщу воды и распадается на оттенки и полутона. Этот эффект создаёт поверхность Bi - Luminite — блестящие частички, покрытые слоем прозрачной смолы. Цвет воды такой же, как на песчаном мелководье или в лагуне тропического острова, а дно остаётся гладким и чистым.
								div 
									h3 Защита от любых воздействий
									p Bi-Luminite не позволяет воде просочиться во внутренние слои чаши. Эту поверхность не повредит ни солнце, ни химия, на ней не будут заметны царапины или вмятины, и любые повреждения можно полностью исправить.
							.product-__sample_block_imgs
								.product-__sample_block_img(data-id="1")
									img(src="img/photos/product-sample-img-1.jpg", alt="")
									div Белые пески острова Маврикий
								.product-__sample_block_img(data-id="2")
									img(src="img/photos/product-sample-img-2.jpg", alt="")
									div Скалистые лагуны Микронезии
								.product-__sample_block_img(data-id="3")
									img(src="img/photos/product-sample-img-3.jpg", alt="")
									div Голубая впадина Белиз
								.product-__sample_block_img(data-id="4")
									img(src="img/photos/product-sample-img-4.jpg", alt="")
									div Желтые пески острова Бали
								.product-__sample_block_img(data-id="5")
									img(src="img/photos/product-sample-img-5.jpg", alt="")
									div Средние глубины окрестностей острова Бора-Бора
								.product-__sample_block_img(data-id="6")
									img(src="img/photos/product-sample-img-6.jpg", alt="")
									div Средние глубины окрестностей острова Бора-Бора
							.product-__sample_block_items
								.product-__sample_block_item
									.product-__sample_block_item_tab(data-id="1")
										img(src="img/photos/product-sample-1.jpg", alt="")
										div Nova Pearl
								.product-__sample_block_item
									.product-__sample_block_item_tab(data-id="2")
										img(src="img/photos/product-sample-2.jpg", alt="")
										div Nova Pearl
								.product-__sample_block_item
									.product-__sample_block_item_tab(data-id="3")
										img(src="img/photos/product-sample-3.jpg", alt="")
										div Nova Pearl
								.product-__sample_block_item
									.product-__sample_block_item_tab(data-id="4")
										img(src="img/photos/product-sample-4.jpg", alt="")
										div Nova Pearl
								.product-__sample_block_item
									.product-__sample_block_item_tab(data-id="5")
										img(src="img/photos/product-sample-5.jpg", alt="")
										div Nova Pearl
								.product-__sample_block_item
									.product-__sample_block_item_tab(data-id="6")
										img(src="img/photos/product-sample-6.jpg", alt="")
										div Nova Pearl
					.product-__info_block.product-__coating
						.wrapper
							.product-__info_block_p1
								div
									h3 Роллетное покрытие
									h2 Роллетное покрытие
									p Запатентованная система Vantage очищает бассейн, имитируя поток воды в горной реке. Особые распылители цилиндрической формы поднимаются над дном на несколько сантиметров, создают мощные, но бесшумные струи воды. Эти струи направляют мусор ко всасывающему устройству Vantage MDX. Когда система очистки не активна, распылители опущены и почти незаметны.
								.product-__info_block_p1_img
									.product-__roll_block
										.product-__roll_block_bot
											.product-__roll_block_top
										.product-__roll_block_slider
											.product-__roll_block_slider_left
											.product-__roll_block_slider_right
											.product-__roll_block_slider_btn
							.product-__info_block_p2
								h3 Что она делает?
								.product-__info_block_p2_items
									.product-__info_block_p2_item
										div 
											img(src="img/product-ico-1.png", alt="")
										p Перемешивает чистящие средства и предотвращает рост водорослей и развитие бактерий.
									.product-__info_block_p2_item
										div 
											img(src="img/product-ico-2.png", alt="")
										p Снижает расход воды и чистящих средств, поскольку постоянно перемешивает их и не позволяет испаряться
									.product-__info_block_p2_item
										div 
											img(src="img/product-ico-3.png", alt="")
										p Равномерно распределяет тепло по всему объёму воды.
									.product-__info_block_p2_item
										div 
											img(src="img/product-ico-4.png", alt="")
										p Очищает даже самые труднодоступные места: углы, ступени, лежаки и сиденья.
					.product-__bottom_block
						.wrapper
							.product-__bottom_block_container
								div
									h2 Сверхпрочный корпус
									p Бассейн постоянно находится под давлением массива почвы с одной стороны и тонн воды — с другой. Чтобы выдерживать такие нагрузки, чашу изготавливают из нескольких слоёв: полиэстер, винилэстер, стекловолокно, углеродное волокно и прочих. Чтобы сделать бассейн ещё прочнее, его усиливают ребрами жёсткости. В их состав входит древесина бальза — прочная, очень лёгкая, с отличными показателями теплоизоляции.
									p Ceramic Core Но главное — запатентованная сверхпрочная керамика Ceramic Core. Она делает корпус лёгким и прочным, защищает бассейн от осмоса — то есть, не позволяет воде просочиться во внутренние слои чаши.
								div 
									img(src="img/photos/product-info-4.png", alt="")
					

			include inc/footer.jade
		include inc/scripts.jade



