html
	head
		meta(charset="utf-8")
		title Наши работы
		include inc/head.jade
		include inc/css.jade
	body.inner.black_burger
		#page-wr
			#content
				include inc/header.jade
				.works_new-.works-
					.content
						.works_new-container
							a(href="#").works_new-item
								.works_new-item_img
									img(src="img/photos/work-1.jpg", alt="")
								.works_new-item_title Центральный район
								.works_new-item_text Бассейн объемом до 14 м<sup>3</sup>
								.works_new-item_class Бетонный бассейн
							a(href="#").works_new-item
								.works_new-item_img
									img(src="img/photos/work-1.jpg", alt="")
								.works_new-item_title Центральный район
								.works_new-item_text Бассейн объемом до 14 м<sup>3</sup>
								.works_new-item_class Бетонный бассейн
							a(href="#").works_new-item
								.works_new-item_img
									img(src="img/photos/work-1.jpg", alt="")
								.works_new-item_title Центральный район
								.works_new-item_text Бассейн объемом до 14 м<sup>3</sup>
								.works_new-item_class Бетонный бассейн
							a(href="#").works_new-item
								.works_new-item_img
									img(src="img/photos/work-1.jpg", alt="")
								.works_new-item_title Центральный район
								.works_new-item_text Бассейн объемом до 14 м<sup>3</sup>
								.works_new-item_class Бетонный бассейн
							a(href="#").works_new-item
								.works_new-item_img
									img(src="img/photos/work-1.jpg", alt="")
								.works_new-item_title Центральный район
								.works_new-item_text Бассейн объемом до 14 м<sup>3</sup>
								.works_new-item_class Бетонный бассейн
							a(href="#").works_new-item
								.works_new-item_img
									img(src="img/photos/work-1.jpg", alt="")
								.works_new-item_title Центральный район
								.works_new-item_text Бассейн объемом до 14 м<sup>3</sup>
								.works_new-item_class Бетонный бассейн
							a(href="#").works_new-item
								.works_new-item_img
									img(src="img/photos/work-1.jpg", alt="")
								.works_new-item_title Центральный район
								.works_new-item_text Бассейн объемом до 14 м<sup>3</sup>
								.works_new-item_class Бетонный бассейн
							a(href="#").works_new-item
								.works_new-item_img
									img(src="img/photos/work-1.jpg", alt="")
								.works_new-item_title Центральный район
								.works_new-item_text Бассейн объемом до 14 м<sup>3</sup>
								.works_new-item_class Бетонный бассейн
							a(href="#").works_new-item
								.works_new-item_img
									img(src="img/photos/work-1.jpg", alt="")
								.works_new-item_title Центральный район
								.works_new-item_text Бассейн объемом до 14 м<sup>3</sup>
								.works_new-item_class Бетонный бассейн
						.works_new-paginator
							include inc/paginator.jade
							



					
			//- include inc/footer.jade
		include inc/scripts.jade